:local {
    .header {
        color: #fff;
        background-color: rgb(66, 48, 112);
        font-size: 30px;
        padding: 5px;
        padding-left: 20px;
    }

    .twitch-logo {
        margin-right: 15px;
    }
}