:local {
    .container {
        margin: 25px;
    }

    .panel-content {
        display: inline-block;
        height: 100%;
        width: 100%;
        background-color: lightgray;
    }
    
    .search-field {
        text-align: center;
        margin-bottom: 15px;
    }

    .align-center {
        text-align: center;
    }

    .popularity {
        font-weight: bold;
    }

    .game-row {
        padding-left: 5px;
    }
}