:local {
    .container {
        margin: 25px;
    }
    
    .center {
        text-align: center;
    }

    .panel {
        text-align: center;
    }

    .popularity {
        font-weight: bold;
    }
}